*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(photos/grouptravel1.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center ;
    justify-content:space-between;
    padding: 5px ;
    /* margin-right: 10; */
    
}
.logo{
    width: 130x;
    cursor:pointer;
    
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.register-button{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0 7%;

}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;

}
.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto ;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border:0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top:7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}

            /* exclusive */
.Sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.exclusive{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:30px ;
}

.exclusive div img{
    width: 100%;
    border-radius: 10px;
}

.exclusive div span{
    position: absoulte;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #8a2c2c;
}

                 /* trending places */


.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:30px ;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
}

/* call to action */
.cta{
    margin:80px 0;
    background-color: linear-gradient(to right,#3f2321,transparent),url(photos/couch.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: black;
}
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px 0 ;
}
.cta-btn{
    background: #f84a58;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top:20px;
    display: inline-block;

}

                /* travellers stories */
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:30px ;
    margin-bottom: 30px;
}
.stories div img{
    width: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

                    /* about messgae */
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight:500 ;
}


                    /* footer */


.footer{
    margin:80px 0 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin:20px 0 ;
}

.footer p{
    padding-bottom: 15px;
    
}

.active{
    position: relative;

}
.active::after{
    content:' ';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

 /* for small screen devices */
 @media only screen and (max-width: 700px){
 .logo{
    position: fixed;
    top: 4%;
    left: 7%;
}
nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
    width: 100%;
    padding: 100px 7% 0;
    background: #000;
    text-align: right;
}
nav .nav-links li{
    margin: 10px 0;
    display: block;

}

 }
/* -----------listing page--------------- */
.navbar-white{
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.navbar-white .nav-links li a{
    color: #000;
}

.navbar-white .register-button{
    background: #ff5361;
    color: #fff;
}

              /* home hotels  */

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0 ;
    border-top: 1px solid #ccc;
}

.house-img{
    flex-basis: 40%;
    
}
.house-info{
    flex-basis:58% ;
    color: #555;

}
.house-img img{
    width: 100%;
    border-radius: 12px;   
}

.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;

}
.house-info i{
    color: #ff5361;
    font-size:18px ;
    margin: 10px 1px;
}


.house-price{
    text-align: right;

}
.house-price h4 {
    font-size: 20px;

}

.house-price h4 span {
    font-size: 16px;
    font-weight: 500;

}

.sidebar{
    border: 1px solid #999;
    padding: 20px 30px ;
    margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.filter p{
    flex: 1;
}

.filter input{
    margin-right:15px ;
    cursor: pointer;
}

.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a {
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}

.pagination span{
    margin: 10px 8px ;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.pagination .current{
    background: #333;
    color: #fff;
}

 /* -----small screen for listing page------- */
@media only screen and (max-width: 700px){
    .list-container{
        margin-top: 150px;
    }
    .left-col , .right-col, .house-img,  .house-info{
        flex-basis: 100%;
    }
    .left-col h1{
        font-size: 22px;

    }
    .house-info{
        font-size: 18px;

    }
    .house-info i {
        font-size:16px ;
    }
    .pagination span{
        margin: 10px 2px ;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }

}
             /*----- house details page------ */
.house-details{
    padding: 0 12% ;
}
.house-title{
    margin-top: 50px;
}
.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: warp;
    align-items: center;
    margin: 10px 0;

}
.house-title  span{
    margin: 0 20px;
}
.house-title i{
    color: #ff5361;
    font-size: 14px;
}

.gallery {
    display: flex;
  }
  
  .main-image {
    width: 50%; 
  }
  
  .main-image img {
    width: 570px;

  }
  .thumbnail {
    width: 250px; 
    height: 177px; 
    object-fit: cover; 
  }
  
  .thumbnails {
    grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
    display: grid;
  }
  
  .thumbnail {
    cursor: pointer;
    margin-bottom: 10px; 
  }
  
  .thumbnail:hover {
    border: 2px solid rgb(36, 164, 24); 
  }
  
  .small-details h2{
    margin-top: 30px;
    font-weight: 500;
  }
  .small-details h4{
    /* margin-top: 20px; */
    text-align: right;
    font-size: 22px;
  }
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}
.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label{
    display: block;
}
.check-form div{
    padding: 20px;
}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}

.guest-field{
    flex: 1;
    
}
.details-lists{
    list-style: none;
    margin: 50px 0;

}


.details-lists li {
    margin-left: 50px;
    font-size: 20px; 
    /* font-weight: bold;  */
    margin-bottom:20px ;
    color: #555;
    position: relative;
}
.details-lists li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-lists li i {
    position: absolute;
    top: 5px;
    left: -40px;

}
.home-desc{
    max-width: 700px;
    margin-bottom: 50px;
}
.map{
    margin: 50px 0;;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.map b{
    display:block ;
    margin-bottom: 16px;
    
}

.host{
    display: flex;
    align-items: center;
}
.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;

}
 

.host h2{
    margin-top:10px ;
    margin-bottom: 10px;
    font-weight: 500;
}
.host i{
    color: #ff5361;

}
.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px ;
}

 @media only screen and(max-width:700px){
    .house-details{
        margin-top: 15px;
    }
    .row p{
        margin-top:10px
    }
    .gallery{
        grid-template-areas:'first first' '. .' '. .' ;
    }
    .small-details h2{
        font-size:20px ;
        margin-top: 24px;

    }
    .small-details h4{
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }
    .check-form{
        padding: 10px 30px;
        width: 100%;
    }
    .check-form input{
        border-bottom:1px solid #ccc ;
        width: 100%;
        padding-bottom: 5px;
    }
    .check-form button{
        font-size:14px ;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .host{
        display: block;
        line-height: 28px;

    }
    .contact-host{
        margin: 40px 0px ;

    }
 }
